<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <!-- <p v-if="userAge >= allowedAge">
            Go on right ahead bucko~
        </p>
        <p v-else-if="user === 'Akiko'">
            Hello Miss Akiko welcome back.
        </p>
        <p v-else>
            Sorry you're a baby!
        </p> -->

        <!-- <p v-if="checkUser()">
            {{user}} successfully logged in!
        </p>
        <p v-else>
            You do not have access.
        </p> -->

        <p v-show="user === 'Akiko'">
            This is a secret message!
        </p>
        <p v-show="user !== 'Akiko'">
            Sorry, can't show secret message!
        </p>
    </div>

</body>
<script>

    new Vue({
        el:"#app",
        data:{
            user:"Akiko",
            userAge: 15,
            allowedAge: 18
        },
        methods:{
            checkUser(){
                return this.user === 'Akiko' ? true : false
            }
        }
    })

</script>
</html>